.row
  .col-xs-12
    %h1= t(".title")
  .col-xs-12
    .table-responsive
      %table.table.table-striped.table-condensed
        %thead.sortable
          %tr
            %th.col-xs-2= "ID"
            %th.col-xs-2= "Nom"
        %tbody= render @teams