%tr
  %td=image_tag("players/"+prediction.player.image.to_s, class: "player") if prediction.player.image
  %td=prediction.player.name
  %td=prediction.value
  %td=prediction.points
  %td=prediction.assists
  %td=prediction.rebounds
  %td=prediction.three_pm
  %td=prediction.price