%h2="Predicciones de Partidos"
%div.row
  %div.table-responsive.white
    %table.table
      %thead
        %tr
          %th="Team"
          %th="VALORACIÓN"
          %th="PUNTOS"
          %th="REBOTES"
          %th="ASISTENCIAS"
          %th="COTIZACIÓN"
      %tbody
        %tr
          %td="Xavie Garcés"
          %td="40"
          %td="30"
          %td="10"
          %td="10"
          %td="1.600.000"
%div.row
  %div.table-responsive.white
    %table.table
      %thead
        %tr
          %th="Team"
          %th="VALORACIÓN"
          %th="PUNTOS"
          %th="REBOTES"
          %th="ASISTENCIAS"
          %th="COTIZACIÓN"
      %tbody
        %tr
          %td="Xavie Garcés"
          %td="40"
          %td="30"
          %td="10"
          %td="10"
          %td="1.600.000"

