%div.col-sm-9
  %div.row
    %h3="PREDICCIONS DE PARTIDOS"
    %div.row
      - @games.each do |game|
        %div.col-xs-6.col-md-4
          %div.col-xs-6.col-md-6.white
            =game.local_team.name
          %div.col-xs-6.col-md-6.white
            =game.visitant_team.name


  %div
  %div.row
    %h3="OPTIMIZA TU EQUIPO"
%div.col-sm-3
  %div.row
    = render partial: "inc/login"
  %div.row
    %h3="RECOMENDACIONES"
