%h3="PREDICCIONS DE PARTIDOS"
- @games.each do |game|
  #predictions.col-xs-6.col-md-4
    %a{:href => prediction_path(game.id)}
      %div.col-xs-6.col-md-6.box.white
        =image_tag("teams/"+game.local_team.short_code.to_s+".jpg", class: "team") if game.local_team.short_code
        =game.local_team.short_code
      %div.col-xs-6.col-md-6.box.white
        =game.visitant_team.short_code
        =image_tag("teams/"+game.local_team.short_code.to_s+".jpg", class: "team") if game.local_team.short_code
%h3="OPTIMIZA TU EQUIPO"
= render partial: "user_teams/new_edit"