<ul class="nav nav-sidebar">
  <li>
    <%= link_to "Import Pages", html_pages_imports_path %>
  </li>
  <li>
    <%= link_to "Create Statistics", statistics_imports_path %>
  </li>
  <li>  
    <%= link_to "Jugadors", players_path %>
  </li>
</ul>