<div class="container-fluid" id="flowlens-main-nav">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <ul>
      <li>
        <%= link_to "Import Pages", html_pages_imports_path %>
      </li>
      <li>
        <%= link_to "Create Statistics", statistics_path %>
      </li>
      <li>  
        <%= link_to "Jugadors", players_path %>
      </li>
    </ul>
  </nav>
</div>