<div class="col-xs-12 col-sm-6 col-md-12 white">
  <h3>RECOMENDACIONES DE COMPRA</h3>
  <div class="row">
    <div class="white">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>1 - Adama, D.</td>
          </tr>
          <tr>
            <td>2 - Rojas, S</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>