.col-xs-12.col-sm-6.col-md-12.white
  %h3="RECOMENDACIONES DE COMPRA"
  %table.table.table-striped
    %tbody
      %tr
        %td="1 - Adama, D."
      %tr
        %td="1 - Adama, D."
      %tr
        %td="1 - Adama, D."
      %tr
        %td="1 - Adama, D."
      