body.front{
  background-color: #272a2f;

  .nav{
    li{
      a:hover{
        background-color: #7ec6ef;
      }
    }
  }

  .navbar{
    background-color: #66b4e8;
    a{
      color: #fff;
      }
  }
  .navbar, .navbar-brand{
    //height: 100px;
  }
  .white{
    background-color: white;
  }
  .predictions{
    background-color: #f1f1f1;
    padding: 10px;
    .box{
      margin-bottom: 5px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      img.team{
        width: 65%;
      }
    }
  }
  .prediction{
    img.team{
      width: 30px;
    }
  }
  #recomendations{
    .team_image,
    .team_image img,
    .player_image,
    .player_image img{
      width: 30px;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
    }
  }
}

img.player,
img.team{
  width: 30px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.nav > li{
  padding: 0px;
}

.select2{
  width: 100%;
}