body.front{
  background-color: #C7C6C6;

  .navbar{
    background-color: #706F6F;
    a{
      color: #fff;
    }
  }
  .navbar, .navbar-brand{
    //height: 100px;
  }
  .white{
    background-color: white;
    float: left;
    padding: 5px;
  }
  #predictions{
    padding: 10px;
    .box{
      height: 80px;
      margin-bottom: 5px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      img.team{
        width: 38%;
      }
    }
  }
}
